* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none !important;
}

button,
button:focus {
  outline: none !important;
}

input:focus {
  outline: 0;
}

::-webkit-search-decoration {
  display: none;
}

.section {
  height: 100vh;
}

.section,
.comment {
  background-color: bisque;
  background-image: url('./assets/bg-texture.jpeg');
  background-repeat: repeat;
}

.section img {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.title {
  max-width: 440px;
  max-height: 104px;
  margin-bottom: 40px;
}
.xiong1 {
  max-height: 380px;
  max-width: 356px;
}
.xiong2 {
  max-height: 300px;
  max-width: 610px;
}
.xiong3 {
  max-height: 457px;
  max-width: 435px;
}
.xiong4 {
  max-width: 1000px;
  max-height: 518px;
}
.xiong5 {
  max-width: 900px;
  max-height: 394px;
}
.xiong6 {
  max-width: 612px;
  max-height: 319px;
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
